* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #1FB88A;
}

.card-header {
    background: #afa2e9;
}

ul {
    font-family: sans-serif;
}

li {
    clear: both;
    margin-top: 20px;
}

.list-group-item-action {
    background: #7cb9a6;
    border: 0;
}

img {
    width: 80px;
    float: left;
    padding: 10px;
}

strong {
    font-size: 20px;
}

p {
    margin: 5px 0;
}

.social i {
    color: #167e5f;
    font-size: 2.8rem;
}

.social a:hover {
    text-decoration: none;
}