:root{
    --cor1: #b1e6d1;
    --cor2: #77b1a9;
    --cor3: #3d7b80;
    --cor4: #270a33;
    --cor5: #451a3e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: var(--cor4);
}

.card-header {
    background: var(--cor2);
}

ul {
    font-family: sans-serif;
}

li {
    clear: both;
    margin-top: 20px;
}

.list-group-item-action {
    border: 0;
}

img {
    width: 80px;
    float: left;
    padding: 10px;
}

strong {
    font-size: 20px;
}

p {
    margin: 5px 0;
}

.social i {
    color: var(--cor5);
    font-size: 2.4rem;
}

.social i:hover{
    color: var(--cor1);
    transform: translateY(-0.8rem);
}

.social a:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--cor1);
    border-color: var(--cor3);
    color: var(--cor4);

    transition: 0.5s;
}

.btn-primary:hover {
    background-color: var(--cor3);
    transform: scale(1.05);
}